<html>
    <head>
        <meta charset="utf-8">
        <title>Merci!</title>
    </head>

<body>
    <h1>Merci pour votre message! À bientôt pour de nouvelles aventures.</h1>
    <a href="{{ path('lcb_accueil') }}">retoour à la page d'accueil</a>
</body>
</html>